[2018-06-24 19:03] alidcastano opened #1 "Npm name"
Hey @mkay581 are you still using the `rogue` npm name? I couldn't find any repo for it but did see that you published a package under it.

If you're not using it, are you willing to give it away? I'm creating a SSR framework for React, with the tagline that it's "quick and invisible" so I'd love to use that name.

I didn't know how else to reach you, so if you see this let me know, thanks!

[2018-06-25 13:54] mkay581 commented on #1
Sure, doesn't look like its been in use and I certainly no longer have a repo for it! :+1:

[2018-06-25 14:59] alidcastano commented on #1
awesome, if you can grant me access then that'd be great - my npm name is alidcastano

[2018-06-25 15:54] mkay581 commented on #1
done! Feel free to remove/manage it as you wish! Rogue sounds like a great idea. Feel free to reach out to me if you have any more questions :wink:

[2018-06-25 16:49] alidcastano commented on #1
Thanks Mark, happy coding!

[2018-06-25 16:49] #1 closed

[2018-06-25 17:01] mkay581 commented on #1
No problem. Let's keep in touch. Would love to know what you build! Im at mark[at]heyimmark.com

[2018-06-26 20:31] alidcastano opened #2 "bundling code is a pain!!"
Spent all day yesterday trying to get to the bottom of bundling issues... first an `unexpected token import` then an `undefined module 'react'` error.

I was using the package via a linked module, so then I randomly tried downloading the actual package and it worked, jesus

So problem seems to be the Parcel treats linked modules differently than downloaded ones (https://github.com/parcel-bundler/p

[2018-06-26 20:31] #2 closed

[2018-06-27 01:42] alidcastano commented on #1
hey mark, thanks again for the npm name

my email is alidcastano[at]gmail.com, though I prefer communicating via twitter (@alidcastano) if you have one

also, part of project code/readme is up if you want to check it out and pay homage to the name haha

[2018-06-27 03:46] alidcastano opened #3 "add code splitting"
loadable-components seems like the way to go

[2018-06-27 03:48] alidcastano opened #4 "conditionally add css-in-js SSR to server.js template"
see what they're using in App.js file and add the SSR solution for it  in server.js so that it works out of the box just like css preprocessors

[2018-06-29 04:19] alidcastano opened #5 "zero configuration?"
I like the idea of zero configuration while being able to eject (like create-react-app)

Just not sure if for SSR it's more problems than it's worth.

E.g. if I contionally take over server.js, need a way for user to still start app manually for testing

[2018-06-29 04:21] alidcastano commented on #5
upon thinking about it, I can just provide a start fn that checks for which `server.js` file to require

also, I do think zero configuration is a worthy goal. It doesn't seem like a big deal to me since I went down the rabbit hole and spent time learning and creating this library but not having to think about these things is a big deal for users just starting out... I guess it's easy to forget

Cl

[2018-06-29 04:21] #5 closed

[2018-06-29 04:21] #3 closed

[2018-06-29 04:21] #4 closed

[2018-07-02 20:05] alidcastano opened #6 "how to pass props directly to each page component (and is it worth the hassle?)"
Right now any data returned from `getInitialProps` will be passed to the `App.js` component. That component can then delegate the data to each page component.

Obviously, this isn't ideal as each `getInitialProps` should operate in a black box.

Some ideas for handling this correctly:
- As we walk the component tree, we can recreate it and pass each component the correct data (honestly not even su

[2018-07-03 16:25] alidcastano opened #7 "should we walk tree two switch statements deep?"
right now we're walking tree checking for two switch statements

The idea was that you'd have a layout and a page

However, with React Router 4, layouts are declared inside the same route as a page

E.g. rather than this

```<Route path="login|register" component={AuthLayout} />```

You do this:

```<Route path="login" render:{() => <AuthLayout><Login /><AuthLayout>} />```

So we can likely remove

[2018-07-03 16:53] alidcastano commented on #7
So if we're going off assumption that after 1st switching block there's no reason why there should be serveable components 5 levels apart, then looking for second switch block is superfluous anyway; going to remove that part of code; already remove it from documentation

[2018-07-03 22:56] #7 closed

[2018-07-03 22:56] alidcastano commented on #6
see #7 too, I decided it's not :)

[2018-07-03 22:56] #6 closed

[2018-07-03 23:22] nyl-auster opened #10 "npm run dev : Unknown script "undefined"."
Hello here !
 when running "npm run dev" i get the following message :
( mac OS Sierra 10.12.6, npm 6.1.0 )

[code]

My package.json:

[code]

[2018-07-03 23:33] alidcastano commented on #10
Haha that's funny. `renso` was what I was going to name it before `rogue`, forgot to change name in that error.

If you run `npm run dev` it should work; I guess I still haven't made that the default, I'll do so now

Btw, thanks for testing Rogue out and opening up first non-author issue!

[2018-07-03 23:33] alidcastano commented on #10
Also, I'm also adding a `/examples` directory now that you can reference

[2018-07-03 23:39] alidcastano opened #11 "known Parcel/build issues"
(I'll need to open issues in Parcel repo, or link the ones I've commented on but listing them here for now)

- issues bundling client on watch mode, so right now we're resorting to restarting client everytime server is bundled
- code splitting isn't working yet
- need to configure static dir for production

[2018-07-03 23:39] nyl-auster commented on #10
To get to the next step, i update my scripts , and i got

[code]

[2018-07-03 23:44] alidcastano commented on #10
Ok, I ended up making `npm run dev` the command in the documentation rather than relying on defaults

I also added `fs-extra` as a dependency and published new version `0.1.2` if you'd like to try it

[2018-07-03 23:44] #10 closed

[2018-07-03 23:50] nyl-auster opened #12 "Error: ENOENT: no such file or directory, stat '/Applications/MAMP/htdocs/TEST/roguetest/public' at Object.fs.statSync (fs.js:948:11)"

[2018-07-03 23:55] alidcastano commented on #12
yea just ran into this too

we try to copy your `public` dir over similar to `create-react-app`

Just gonna make sure we check for it before copying it over, one sec

[2018-07-04 00:13] alidcastano opened #13 "switch from Express to Connect (less dependencies)"

[2018-07-04 00:19] alidcastano commented on #12
Ok `rogue@0.1.5` fixes this and another problem I ran into

I was able to get a `hello-world` running

Closing this!

[2018-07-04 00:19] #12 closed

[2018-07-04 00:20] alidcastano commented on #12
Also, @nyl-auster be mindful of #11

[2018-07-04 00:30] nyl-auster commented on #12
@alidcastano okay ! yep this is running now \o/

[2018-07-04 00:33] alidcastano commented on #12
I have a `with-everything` example coming next

[2018-07-04 02:13] degroote22 opened #14 "Custom css-in-js solutions"
How would it be like to write custom plugins for rogue?
I'd like to support JSS to use Material-UI and it seems that only rogue-made hocs would work.
As I could see from their code, the hocs are simple and I could implement another one myself.
My question is: would that work? Because from what I could see from the docs it wouldn't.

Thanks for the awesome work!

[2018-07-04 02:42] alidcastano commented on #14
So there are two ways to configure SSR support.

If the implementation doesn't require access to the `document` itself (e.g. to inject script tags) then you can do it via a hoc's/providers `getInitialProps` method. This is how the Rogue's Apollo and Redux hocs do it, and you can implement your own custom solution if the requirement is the same

The second way is by creating your own `server.js` fi

[2018-07-04 02:50] alidcastano commented on #14
Looks like Material UI inlines the css next to the top most component (https://material-ui.com/guides/server-rendering/#server-rendering) so this can maybe be done via a `hoc`

I'm also Thinking about whether we can use Helmet to inject document tags inside a `hoc` so that a custom `server.js` file wouldn't need to be used at all; will have to experiment with this when I get a chance

[2018-07-04 08:31] vstepanyuk opened #16 "Uncaught Error: Cannot find module 'core-js/modules/es6.typed.array-buffer'"
bundle.js:39 Uncaught Error: Cannot find module 'core-js/modules/es6.typed.array-buffer'
    at newRequire (VM152 bundle.js:39)
    at localRequire (VM152 bundle.js:54)
    at Object.parcelRequire.1 (VM152 bundle.js:109)
    at newRequire (VM152 bundle.js:48)
    at parcelRequire.1 (VM152 bundle.js:80)
    at VM152 bundle.js:106

[2018-07-04 13:07] alexparish commented on #16
I am also seeing this with Rogue 0.1.6.

The only code I have in my project is a file at src/App.js with the following contents:

[code]

[2018-07-04 13:48] alidcastano commented on #16
The `hello-world` example works for me, so that's likely caused by different dev environments

I purposefully wrote Rogue code in boring old javascript and without JSX so it wouldn't need compiling but just realized I'm using recent node version (10.5.0) and not sure when `async/await` was introduced

Can you try doing this

[code]
And then add this to your .babelrc
[code]

If this fixes issue the

[2018-07-04 16:05] alexparish commented on #16
Upgrading to the recently published `rogue@0.2.4` fixed the problem for me.

I didn't need to upgrade Node from 8 to 10 or add the `.babelrc` as you suggested above.

@vstepanyuk Is your problem resolved when updating to `rogue@0.2.4`? If so, this issue can be closed.

[2018-07-04 16:08] alexparish commented on #16
Although the dev script works for me now, when I run `yarn run start` I see the following error:

[code]

[2018-07-04 16:12] alidcastano commented on #16
Oh okay even better! Thanks for letting me know

And haha yea sorry, that command doesn't exist yet :) I'm porting my app over and fixing things along the way. I'll soon push it to production and will add add start script

[2018-07-04 16:14] alidcastano opened #17 "make ready for deployment"
- add `start` script
- change static path serving folder path
- ..soon to be discovered..

[2018-07-04 16:15] alexparish commented on #16
No worries! This project is absolutely awesome... I'm just impatient to play with it :)

As a heads up HMR seems to be broken in `0.2.4`.

[2018-07-04 16:18] alidcastano opened #18 "call `getInitialProps` on client side navigation"
We shouldn't call it on client side mount side that will cause a props mismatch. But it should still be called on client navigation, i.e. for redirects to work.

In order to make this happen I'm thinking will need to wrap the router `Link` component (which I'd rather not do), unless there's a way to hook up to its events; gotta look into this

[2018-07-04 16:22] alidcastano commented on #16
Sometimes I have to run the save command a few times for it to work. Can you try that?

This is likely related to #11. Parcel adds a process variable to the client bundle on watch mode which caused client-side errors; so to get around that temporarily I'm rebuilding client when server bundle changes, which is likely why it feels a bit broken

[2018-07-04 16:25] alidcastano opened #19 "add more examples"
nextjs `/examples` folder provides a great starting point if anyone wants to help with this

Though I'm thinking so many examples aren't needed since Rogue is much simpler (It's basically just React and React Router 4!).

I'll soon create a starter template and I think that will be much more useful than examples; but I'll still leave this issue here in case anyone encounters it and wants to contri

[2018-07-04 16:38] klujanrosas commented on #11
Is this related to the following?

Browser:

![image](https://user-images.githubusercontent.com/4474353/42287990-8c3b49de-7f7e-11e8-9e75-f8458b68b589.png)

Console:

![image](https://user-images.githubusercontent.com/4474353/42288047-c8f5a28e-7f7e-11e8-88ca-b2b6a517b0c4.png)

[2018-07-04 16:51] alidcastano commented on #11
Yeah I think so

client doesn't seem to be rebundling, so HMR isn't working and that's causing a client-server mistmatch. I'll have to fix this

[2018-07-04 18:27] vstepanyuk opened #20 "Uncaught SyntaxError: Unexpected token <"
Sometimes bundle.js contains src/App.js

[2018-07-04 18:33] alexparish commented on #16
@vstepanyuk Damn. It would be worth letting @alidcastano know what environment you’re using and the steps you’re taking so he can try recreate it?

[2018-07-04 19:04] alidcastano commented on #20
I'm pretty sure this is related to #16 (which I've reopened). When there's an error with the client bundle, you'll often get this `Uncaught SyntaxError: Unexpected token <` error.

[2018-07-04 19:07] alidcastano commented on #16
Yes, this works for me and @alexparish so it has to be an environment specific error, and I can resolve that without any information about your setup

[2018-07-04 21:55] Cosmicist commented on #20
:thinking: not sure it's related to that one, I'm testing rogue (looking awesome btw!) and it seems to be that the bundle is being included like this: `<script src="bundle.js" defer=""></script>` so when you are in `/` it loads ok, but if you are in, say `/foo`, then it will try to load `/foo/bundle.js` which will actualy be the server rendered component that handles `/foo` uri.

[2018-07-04 23:32] jangerhofer commented on #19
From #13, I presume you want to swap the *default* `server.js` file to use Connect in order to slim down the dependencies of a starter project, and in #14 you allude to using Rogue programatically.  Would you, @alidcastano, consider it helpful to have a few examples of custom servers which use Rogue a la [Next.js](https://nextjs.org/docs/#custom-server-and-routing), e.g. with Hapi, Koa, etc.?

[2018-07-05 00:57] Cosmicist opened #22 "Access parsed route parameters in getInitialProps"
It would be very useful to be able to access the parsed route params in `getInitialProps` to load a particular resource using the url params as identifiers.

For example, when navigating to `/users/:name`:

[code]

I couldn't find a way to do this without parsing `req.url` manually.

[2018-07-05 01:06] powermikee opened #23 "cache busting"
When you do a 'npm run build' it be great if the files had checksums for cache busting (like webpack does). Otherwise you will still need to something like grunt to do that.

[2018-07-05 09:19] ctrlplusb opened #24 "Awesome work"
Sorry, not an issue. Just want to sing your praise on the work you are doing here. Amazing stuff. 👍

[2018-07-05 11:00] 4ware opened #26 "bundle.js:sourcemap:5721 Warning: Text content did not match."
Hi!

I'm giving rogue a trial with typescript.

I'm just using the example setup but exchanged the App.js with a App.tsx.

It's not hot-reloading and when i change the text in the divs i get the folowing error:

bundle.js:sourcemap:5721 Warning: Text content did not match. Server: "Welcome to Rogue.js test!" Client: "Welcome to Rogue.js!"...

What gives? Did i miss something?

[2018-07-05 11:03] alexparish commented on #26
I believe this is a known issue (https://github.com/alidcastano/rogue/issues/11) and not specifically to do with the use of TypeScript.

[2018-07-05 11:44] 4ware commented on #26
I See. Thank You!
Alex Parish <notifications@github.com> schrieb am Do. 5. Juli 2018 um 13:03:

--
— Kai Wernicke: 4ware - realtime mobile and web | contact: kai@4ware.net  |
‭+49 176 80727527‬ | +49 (0) 4181 99 86 30

[2018-07-05 12:51] tintoverano opened #27 "ReferenceError: SERVER is not defined"
hi,

0.1.9 build results in the following error
[code]
0.1.6 is OK

thanks,

tinto

[2018-07-05 12:53] alexparish opened #28 "Adopt Prettier / Eslint?"
What do you think about using [prettier](https://github.com/prettier/prettier) @alidcastano ?

Seems a good way of avoiding debates about code style.

[2018-07-05 14:09] alidcastano commented on #27
Yea those were experimental publishes, sorry about that

The official first release is 0.2.4

[2018-07-05 14:09] #27 closed

[2018-07-05 14:18] tintoverano commented on #27
works now, no worries :)
thanks!!

On Thu, Jul 5, 2018 at 4:10 PM Alid Castano <notifications@github.com>
wrote:

[2018-07-05 14:50] alidcastano commented on #24
Hey, @ctrlplusb I appreciate it!

We use `react-walk-tree` to walk the App tree and call `getInitialProps` , so grateful for your work as well (I actually tried to get loadable-components to use it as well - https://github.com/smooth-code/loadable-components/issues/102)

If you're ever interested in contributing, we'd love to leverage your expertise in Rogue. I'd also be happy to consider support

[2018-07-05 14:54] alidcastano commented on #28
Yea this would be great

I'd interested in help with any way to standardize the module e.g. adopting prettier, setting up continuous integration, etc. I personally suck at these things

[2018-07-05 14:54] #26 closed

[2018-07-05 14:55] alidcastano commented on #26
Continuing discussion in above issue, thanks @alexparish

[2018-07-05 15:00] alexparish commented on #28
Great! I'll create a pull request to add prettier when I get a chance.

[2018-07-05 15:22] alexparish commented on #28
I could add eslint at the same time if you like? Any preference on which eslint config to use? I'd normally go for https://github.com/airbnb/javascript.

[2018-07-05 15:51] stefanmirck commented on #13
Fastify?

[2018-07-05 15:59] alidcastano commented on #13
I believe Fastify is more Express-like

Connect is a simple middleware layer

[2018-07-05 16:00] alidcastano commented on #22
Yes, this should definitely be an option

I'll likely add it while doing #13

[2018-07-05 16:03] alidcastano commented on #28
Sure, I'm for any standardization that doesn't add a build step

[2018-07-05 16:36] malonehedges opened #29 "Question: Server-side authentication"
Hi there,

I was wondering if it would be possible to have a route protected by some server-side authentication.

Simplest example:
* Auth page (public)
* Secret page (loaded only if authenticated)

Most importantly, the data (including layout / content of the page) cannot be transmitted unless the client has successfully authenticated. I was hoping to use `import` and have the server only return

[2018-07-05 16:37] alidcastano opened #30 "Add a logo - any designers/illustrators out there?"
I really like [emotion's](https://github.com/emotion-js/emotion) logo.

Not sure how hard this would be to pull off, but I'd be super cool to have a logo that shows the upper body of semi-invisible female with a rogue outfit that partially displays a react logo

I'm also open to any ideas

If anyone is interested in contributing this, let me know

credit & link to your work will be given in readme

[2018-07-05 16:46] alidcastano commented on #29
Yes, here's how I handle this (going to mainly copy and paste some code I'm using)

I create a `Router` component with all my routes and a `getInitialProps` method that refreshes the session (the example below uses apollo)

[code]

Then I create some middleware for handling authentication

[code]

and I use this middleware inside my `AppLayout` and `AuthLayout` etc. `getInitialProps` method

[code

[2018-07-05 16:46] #29 closed

[2018-07-05 16:49] malonehedges commented on #29
Thanks so much for the quick reply! I'll try this out.

[2018-07-05 17:02] alidcastano commented on #19
Sure, examples are always helpful

I'll be making the above change soon and adding documentation for it so porting over those examples for Nextjs or Nuxtjs shouldn't be difficult for anyone that wants to contribute

[2018-07-05 17:13] Cosmicist commented on #22
Awesome! I'm really loving Rogue so far, I'm still fairly new to the React world, and this sure make it a pleasure to work with. Keep up the great work!

[2018-07-05 18:51] alidcastano commented on #23
yea I believe this is more a parcel than rogue issue since ideally they'd be handling all the bundling and we'd just be setting up client/server specific options

Right now the build script is very minimal but I intend to look back at this later

[2018-07-05 19:50] alexparish commented on #28
Do you have a Node version in mind for rogue? A minimum version of Node that users should have installed?

This will help guide the changes I can make when tweaking the code to make the linter happy.

[2018-07-05 20:00] alexparish commented on #28
Scratch that... I see you're running the server code through Parcel (with babel-present-env) so we can use all the latest and greatest ES2015 and ESM goodness.

[2018-07-05 20:01] alidcastano commented on #28
No, the .babelrc is for Jest so we can use jsx inside the tests

[2018-07-05 20:05] alidcastano commented on #28
ideally lets do whatever node version supports async/await and arrow syntax if it's not too high

maybe

[code]

[2018-07-05 20:06] alidcastano commented on #28
having to compile would be a pain (#2) since parcel doesn't yet have it figured out for linked modules (https://github.com/parcel-bundler/parcel/issues/1617)

[2018-07-05 20:19] alexparish commented on #28
Ah now I see why you are using `require` everywhere. I'll stick with that for now.

[2018-07-05 22:16] ctrlplusb commented on #28
Nice move @alexparish. If you do go for `eslint-config-airbnb`, ensure you add the `eslint-config-prettier` underneath it to avoid style rule conflicts. You may already have intended on doing so, but thought it worth a shout out just in case you weren't familiar with it. 👍

[2018-07-05 22:30] ivanthemeh opened #31 "Electron and Rogue"
Can one of the examples be of importing this into an electron app. Please.

[2018-07-05 23:59] denny64 opened #32 "What's the best way to integrate this with an existing project?"

[2018-07-06 22:42] alidcastano commented on #32
Depends on the existing framework and build setup

Though I wouldn't recommend trying to do that with rogue just yet

specially since your project likely uses Webpack and Parcel still has some kinks to work out (see #11)

Though the goal is that since all you'd need is an App.js, it would be trivial to convert a regular react application to rogue assuming your build setup isn't too complicated

an

[2018-07-06 22:42] #32 closed

[2018-07-07 07:31] nyl-auster opened #34 "Apollo data not being server rendered"
Hello !
Here is what i tried for now, but this is not server side rendered :

https://github.com/nyl-auster/roguepress/blob/7956588023c0524533e172f54e1159284be4fb50/src/themes/default/components/pages/PostListPage.js

And here is my App.js
https://github.com/nyl-auster/roguepress/blob/7956588023c0524533e172f54e1159284be4fb50/src/App.js

Any suggestions ? Will be glad to complete README about this

[2018-07-08 03:31] alidcastano commented on #34
Yea, I just confirmed this isn't working

the issue is that we're not wrapping the app passed to `getDataFromTree` in a router or apollo provider

I'll have fix coming soon

[2018-07-08 03:52] alidcastano opened #36 "Consider making rogue app independent of build setup"
There are two ways we can go with Rogue. The Nextjs route, where the build setup and ssr setup are together, or Afterjs route, where they are separate and you can use any build system (.e. Razzlejs)

The reason I'm considering the second option, is that I've run into a few problems with Parcel #11; and I'm supposed to be focused on building an app I'm working on, so would like to get back to that

[2018-07-08 04:03] #30 closed

[2018-07-08 07:46] nyl-auster commented on #36
@alidcastano hello ! For your informations, here are the reasons i tried rogue  :
- I'm struggling with SSR + apollo : https://github.com/zeit/next.js/issues/4725
- I **love** the idea of allowing getInitialProps to be used at any tree level
- I dislike the Next.js routing and Next/link, I love React Router 4 ...
- I'm always using Apollo and Redux so i would like them to work out of the box rathe

[2018-07-08 09:57] rayandrews commented on #36
I really love if Rouge will become like After.js, no build system, etc.
Just a plain wrapper to SSR React.

I'm currently trying to combine Rouge and After.js (using each other's code), because of needs in my company (using webpack etc., and don't wanna move to parcel)

I can help to contribute if anything seems stable.

Thank you for your hard work! @alidcastano

[2018-07-08 18:29] alidcastano commented on #36
Ok, right now I'm separating Rogue it into three repos: `rogue-app`, `rogue-hocs`, and `rogue-cli`

Rogue app will allow you to use Rogue programmatically so that it can be used with any build system; similar to a Razzle+Afterjs combo, you can do a Razzle+Rogue combo

Rogue hocs will have plugins for tools that need SSR support, such as Apollo, Redux, etc

Rogue cli will continue its work with par

[2018-07-08 21:39] alidcastano commented on #34
this is fixed in next release; I verified it with your repo

I'll publish package/new documentation hopefully by tonight

[2018-07-08 21:39] #34 closed

[2018-07-08 21:43] #13 closed

[2018-07-08 21:45] peter-mouland commented on #36
Cool, does sounds like a great way forward!

[2018-07-08 23:32] ans-4175 commented on #19
Hey, I'd like to learn use rogue.
Maybe while in my exploring I'm keen to add examples.
Any guideline how to contribute?

[2018-07-09 01:23] rayandrew opened #37 "getInitialProps to component props"
Is there any way to passing value of getInitialProps to suitable component props like Next.js or After.js?

Thank you!

[2018-07-09 01:47] alidcastano commented on #37
You mean like passing each component/page its `getInitialProps`?

I considered this in #6. One drawback of only having an `App.js` instead of a `/pages` directory that we can scan is that we don't have access to pages independently unless we try to recreate your component tree or wrap React Router's components.

But honestly, this is only a problem if your using Rogue with REST and need to fetch d

[2018-07-09 02:15] rayandrews commented on #37
Ah gotcha, that's the intended behavior and drawback. It's kinda sad not having that feature but it's okay as long as we have another solution like using redux or apollo.

Can I ask more questions?

Why it seems that examples with razzle and rogue cli have different behavior?

With rouge cli :
![rouge1](https://user-images.githubusercontent.com/4437323/42427361-5bc18dda-8358-11e8-9ab4-9e97ccfb9dc5

[2018-07-09 02:24] #37 closed, assigned to nobody

[2018-07-09 02:27] #20 closed, assigned to nobody

[2018-07-09 02:29] rayandrews commented on #37
that's the possible solution I think.

hahaha, okay, will push the repo to reproduce the issue, by the way I will open PR to fix some typo.

Thank you @alidcastano!

[2018-07-09 02:44] rayandrews opened #39 "Different behavior of Rogue"
Referring our discussions in this issue #37

With rouge cli :
![rouge1](https://user-images.githubusercontent.com/4437323/42427361-5bc18dda-8358-11e8-9ab4-9e97ccfb9dc5.gif)

With razzle :
![rouge2](https://user-images.githubusercontent.com/4437323/42427378-6dc28fc0-8358-11e8-88df-16f8bdcf4c6a.gif)

Github repo to reproduce:

https://github.com/rayandrews/reproduce-rogue-behavior

what's the differ

[2018-07-09 02:55] #16 closed

[2018-07-09 03:22] alidcastano commented on #14
Good news

Rogue now makes it easier to configure SSR support for plugins/providers without having to bloat your `server.js` file

Check out the new documentation: https://github.com/alidcastano/rogue.js/tree/master/packages/rogue-app#custom-enhancements

It discusses methods to add tags to head or body of document (as is needed for material UI)

Btw, once you get it working, I'd be great to have

[2018-07-09 03:22] #14 closed

[2018-07-09 05:12] alidcastano commented on #39
0.4.0 are first releases of packages; if you update `roguejs/cli` in hello-world then both of them encounter same error

the initial difference was that client bundle wasn't being served correctly in previous version of `roguejs/cli`

but that still doesn't answer client-server mistach with router; gotta look into that

[2018-07-09 05:16] alidcastano commented on #39
Did you get this example from Razzle site?

[2018-07-09 05:29] alidcastano commented on #39
Hmm okay so one property that is mismatched is `history.length`.

Reading up on it here https://github.com/ReactTraining/react-router/blob/master/packages/react-router/docs/api/history.md

and here https://github.com/ReactTraining/history/issues/582

in other words, it seems to be a browser only property, hence why it only appears in client (which has BrowserRouter) and not server (which has Stati

[2018-07-09 06:09] rayandrews commented on #39
No, I create it to test Rogue in another build system

Ah get it, Will you release fix on this?

How about the SSR_Data? It seems not loaded properly on Razzle? or is it intended?

[2018-07-09 07:03] dbkaplun opened #41 "Feature: document/add support for mounting in an express app"
It would be great if Rogue could be used as part of a larger Express app. Thanks for considering!

[2018-07-09 07:30] peter-mouland commented on #36
quick work!

[2018-07-09 13:17] alidcastano commented on #39
Unless we're configuring the router wrong (which idt we are) there's nothing to do on our side (I'm sure you'd get the same error if you try to render all router props in Afterjs)

by incorrect SSR_DATA you mean what you returned from `getIntialProps`? I see the `{ stuff: 'more stuffs' }` does show up correctly.

Remember that as of now, if you'd like to access this data in your nested components

[2018-07-09 13:20] alidcastano commented on #39
I'm starting to think that the `getInitialProps` name isn't ideal, since it indicates that data is being passed to each respective component

Obviously that would be ideal, but just not sure if it's worth the hassle. In order to do that we'd need to wrap the Router components

I'll be giving it some though but if you'd like to make request for this, open a new issue and have examples of where'd it

[2018-07-09 13:28] #39 closed

[2018-07-09 13:33] alidcastano opened #42 "disambiguate usage of getInitialProps"
We need to decide on getInitialProps` usage:
- Are server rendered props meant to be passed only to each respective page -- or can we keep passing them only to App.js component? #37 #6
- Should `getInitialProps` be called during client navigation? #18
- Does the behavior of `getInitialProps` align with expectations based on its name? If not, we should consider our own method #42

In order to get p

[2018-07-09 14:31] alidcastano commented on #19
Hi @ans-4175

Ideally learning Rogue shouldn't be too difficult since it's just React, React Router 4, and the server rendering of 'getInitialProps'

But one way you can learn would be to first scan `roguejs/app` docs and then try porting over an example from Nextjs to Rogue

I'll note that this is a newer framework, so you might run into a few bombs along the way. Feel free to open issue / ask qu

[2018-07-09 15:01] alidcastano commented on #41
Documentation has been added https://github.com/alidcastano/rogue.js/tree/master/packages/rogue-app#custom-server

I don't have time to add examples for every use-case myself but feel free to open new issue if you run into any problems.

If you need a complete example to get started, I'd use the Nextjs/Nuxtjs repo examples as starting
points

[2018-07-09 15:01] #41 closed

[2018-07-09 17:10] alidcastano opened #45 "babel plugin to extract server side only component methods"
First need to resolve #42

getIntialProps is only called in server now to bootstrap App.js with server logic

This method can be extracted at compile from the client bundle using a babel plugin. This would prevent unnecessary server code from being included in client bundle without relying on tree-shaking

[2018-07-09 17:49] alidcastano opened #46 "might have to bundle code in order to configure react-helmet / loadable-components ourselves since they require es6 imports"
so much for #2 :(

[2018-07-09 18:43] alidcastano commented on #22
Added in `@roguejs@0.4.2`; here are docs https://github.com/alidcastano/rogue.js/tree/master/packages/rogue-app#getinitialprops-ctx--data--void

[2018-07-09 18:43] #22 closed

[2018-07-09 18:43] #23 closed

[2018-07-10 03:46] alidcastano commented on #42
RR4 can maybe be used for redirects in server. If that's the case then we wouldn't need `getInitialProps` for client-side navigation. And we also don't need it to query data as we have Apollo for that.

So we only for sure need it for configuring SSR rendering in Hocs / refreshing session, etc

[2018-07-10 05:24] alidcastano opened #47 "redux store provider initiated before page component"
Right now we walk component tree and call getInitialProps per component

The problem for redux is that getInitialProps is called before App/Page components, so its doing nothing for ssr the store

Few ideas:
- add a function like nuxtjs does for ssr logic that the store should handle (not ideal)
- different methods to call before and post walking tree (not ideal)
- I considered changing way hocs w

[2018-07-10 06:04] alidcastano opened #48 "handle router redirects in server"

[2018-07-11 03:08] #42 closed

[2018-07-11 03:09] #46 closed

[2018-07-11 04:39] #48 closed

[2018-07-11 04:40] #47 closed

[2018-07-11 04:41] alidcastano commented on #18
I realized this is uncessary given that redirects can be handled by react router and shouldn't be handled inside getInitialProps

[2018-07-11 04:41] #18 closed

[2018-07-11 04:43] alidcastano commented on #19
Going to close this but know that examples are always welcome, specially now that API is stabilizing (just released v0.6.0 with some final breaking changes)

[2018-07-11 04:43] #19 closed

[2018-07-11 04:44] alidcastano commented on #17
this is part of @roguejs/cli which is marked as WIP. I don't know when I'll have time to get back to it so I'll close this for now as it's not an active issue

[2018-07-11 04:44] #17 closed

[2018-07-13 15:38] alidcastano opened #50 "client-server mismatch during hmr"

[2018-07-13 15:39] #50 closed

[2018-07-13 16:35] alidcastano opened #51 "router allowing redirect on component before it receives server-rendered data"

[2018-07-13 17:40] #51 closed

[2018-07-14 10:35] chenshuiluke opened #52 "TypeError: Cannot destructure property `bundleUrl` of 'undefined' or 'null'."
Hey, I've been checking out your project and I've been having some trouble integrating it into my React application which needs SSR. Essentially what happens is that I get the following error when I run `npm run dev`:

[code]
I modified my code to be similar to what you have for the with-razzle example. Here is my package.json:

[code]

client.js

[code]

index.js

[code]

server.js

[code]

and m

[2018-07-14 15:14] alidcastano commented on #42
getInitialProps is now only called for App.js component and does not reach pages anymore.

Redirects can be handled with React Router (we added logic for handling server side) and querying data can be done with Apollo

[2018-07-14 15:33] chenshuiluke commented on #52
Thanks man, I really appreciate you and your project

[2018-07-16 11:29] alidcastano opened #53 "images for readme"
![screenshot 8](https://user-images.githubusercontent.com/11031952/42756399-7f95fda4-88c1-11e8-9328-812a1612ee6f.png)
![screenshot 10](https://user-images.githubusercontent.com/11031952/42756400-7fb3b1c8-88c1-11e8-8b2b-c6dc777e16a0.png)

[2018-07-16 11:31] #53 closed

[2018-07-17 02:41] joshuaalpuerto opened #54 "[QUESTION] Not with Apollo GraphQL"
Can I still use this even I don't use Apollo GraphQL? Im using React Router 4 to manage my routes and I would like to explore doing SSR.

Cheers!

[2018-07-17 10:15] alidcastano commented on #54
How do you plan to query data?

[2018-07-17 10:18] joshuaalpuerto commented on #54
I'll be requesting the data to an API server (Rest).

[2018-07-17 10:45] alidcastano commented on #54
The reason we recommend Graphql is that we dont call getInitialProps in pages like nextjs does.
So you ideally handle per component logic with other tools, such as querying data with graphql and redirecting with react router.

The previous version of Rogue did walk component tree and use same logic as Router to call getInitialProps in pages. But I realized it was unnecessary since all props were o

[2018-07-17 10:47] joshuaalpuerto commented on #54
Ah, Thanks for the information @alidcastano

[2018-07-17 10:47] #54 closed

[2018-07-18 20:05] thompsonemerson opened #59 "Open in the browser when the project is initialized"
In the example with `razzle` when started, it does not open the browser automatically with the project executed

[2018-07-19 15:16] adamzasah opened #61 "bundlerUrl: bundle.js: Uncaught SyntaxError: Unexpected token <"
I am running rogue.js version 0.6.10 and still getting this issue for bundle.js. Mentioned in [#20](https://github.com/alidcastano/rogue.js/issues/20).

I am also new to SSR and I don't know if I figured out what is the right purpose for this bundle. Should it be compiled client side (client.js) script for usage when continuing with an app on the browser side after initial server render?

[razzle

[2018-07-19 17:34] alidcastano commented on #61
Does the with-razzle example work for you? That's how I would recommend getting started as `roguejs/cli` is a work in progress. Partly due to time contraints and partly because I'm waiting for Parcel to be further along.

The `bundleUrl` incidents where your client bundle is located. It can either be a relative path (relative to public directory, e.g. `bundle.js`) or an absolute url path (like in

[2018-07-20 00:23] #59 closed

[2018-07-20 08:21] adamzasah commented on #61
Thanks for the quick response.

The razzle one works for me, but I have tried zero config with @rogue/cli and only with App.js. That produced same `Unexpected token <error with bundled script.

I have this server.js and I am running it with `babel-node ./src/server.js` via `babel-cli` package uncompiled and it does produce same error `Unexpected token <`.
`.babelrc` has just `env` and `react` pres

[2018-07-20 12:00] alidcastano commented on #61
The `Unexpected token <` can occur when there's an error pertaining to your client bundle, such as it not being found

bundleUrl needs to point to the compiled client bundle

so in your case, if you're in development, it'll be relative to wherever `babel-node` is compiling `src/client.js` to

let me know if you can get it to work, otherwise if you can make a tiny example I can check it out

[2018-07-20 12:51] adamzasah commented on #61
@alidcastano Thanks for the answer. Yeah, it was the problem with the wrong relative path to bundle. Now it works. Anyway, I am now using `rattle`, its zero config and its nice. ❤️  Thanks for help.

[2018-07-20 12:51] #61 closed

[2018-07-21 21:31] corydeppen opened #62 "Error in browser when calling render on initial load"
I'm getting the following error when running the with-razzle example:

`Warning: render(): Calling ReactDOM.render() to hydrate server-rendered markup will stop working in React v17. Replace the ReactDOM.render() call with ReactDOM.hydrate() if you want React to attach to the server HTML.`

From what I can tell, the error seems to occur because `window.__SSR_DATA__` is an empty object initially, w

[2018-07-21 21:42] alidcastano commented on #62
Hmm I wonder why I don't get this error

But yea we can definitely tweet it to set an initialRender flag like Nextjs does, thanks for looking into that

Care to make a PR?

[2018-07-23 19:51] AlejandroMataGuillen opened #64 "Implement with Create-react-app?"
An example of how to add rogue to a default create-react-app would be great

[2018-07-23 20:07] alidcastano commented on #64
This would be great, didnt think of of it as a possiblility since create-react-app recommends nextjs or razzle in their README

Is there an example project of people doing server rendering themselves with create react appp?

[2018-07-24 02:34] alidcastano opened #65 "eliminate walking of tree"
This tweet by @gaearon made me reconsider it https://twitter.com/dan_abramov/status/1021548632619790336

And now I'm realizing it that doing so in Rogue.js is unnecessary since we're just initializing App.js in the server (and not pages, anymore)

[2018-07-24 03:12] muhrusdi opened #66 "import style.css/scss in App.js?"
can i import style.css/scss in App.js file?

[2018-07-24 03:22] corydeppen opened #67 "Odd behavior running with-razzle example"
I'm running into very odd behavior using the with-razzle example. The Razzle app runs and reloads as expected prior to adding Rogue and I'm wondering if anyone else is seeing this behavior or not.

Steps to reproduce:

- Create new Razzle app

  `create-razzle-app with-razzle`
  `cd with-razzle`

- Start the app, make a change to `Home.js`, then verify the app is built and reloads as expected
- In

[2018-07-24 03:57] alidcastano commented on #66
Are you using Razzle?

I haven't tried this personally (I use css-in-js) but I don't see why it wouldn't work since razzle does support this

does it not work when you try it?

[2018-07-24 04:02] alidcastano commented on #67
I was running into this error with previous version of Rogue but I thought I had fixed this

can you link me to the exact repo you're experimenting with Rogue on? (since it's not the with-razzle example and that example does work for me at least)

[2018-07-24 04:06] muhrusdi commented on #66
its work in development, but not work in production, the file (bundle.xxx.css) is not loaded in browser.

![screen shot 2018-07-24 at 12 05 03](https://user-images.githubusercontent.com/9457288/43116363-ddcc88f6-8f39-11e8-8ca5-bb977a9b6774.png)

[2018-07-24 04:12] alidcastano commented on #66
ahh yea there needs to be to inject the assets script tag

e.g.
[code]

something like this will need to be added

[2018-07-24 06:14] muhrusdi commented on #66
undefined css in assets variable, just js.

![screen shot 2018-07-24 at 14 08 19](https://user-images.githubusercontent.com/9457288/43120014-46ae2bde-8f4b-11e8-9e94-cbc32293b2a1.png)

and i add link tag in the file App.js, because there is no headTags in the rouge api
![screen shot 2018-07-24 at 14 10 54](https://user-images.githubusercontent.com/9457288/43120109-9efce636-8f4b-11e8-8ab6-2ebba3b4ad

[2018-07-24 12:07] alidcastano commented on #66
yeah doing it via getInitialProps is a good temporary workaround

hmm is it undefined in production? just check if it exists first before setting it

also just remembered loadable-components (for code splitting) only supports css-in-js (https://github.com/smooth-code/loadable-components/issues/94), so now that Rogue is independent of build setup we might have to also support another library for do

[2018-07-24 12:57] alidcastano commented on #67
hi @stevefan1999 thanks for commenting

I haven't been able to look into this yet but what code did you have to add to fix the problem?

[2018-07-24 13:06] stevefan1999 commented on #67
@alidcastano 🤔Just some standard react-hot-loader stuff, either add a `hot(module)` decorator or put `if (module.hot) module.hot.accept()` on the last line of your `client.js`.

[2018-07-24 17:12] alidcastano commented on #67
@corydeppen looks like this might be specific to razzle and react-hot-loader

Can you try above and see if it fixes your problem

Otherwise I'll give it a look when I get a chance

[2018-07-24 21:45] muhrusdi commented on #66
thanks

[2018-07-24 21:52] corydeppen commented on #67
To be clear, the Razzle project reloads as expected prior to adding Rogue.

Adding react-hot-loader on top of Razzle doesn't seem appropriate, since Razzle already [sets up HMR](https://github.com/jaredpalmer/razzle/blob/master/packages/razzle-dev-utils/webpackHotDevClient.js) for you. Further, [`index.js`](https://github.com/corydeppen/rogue-with-razzle/blob/master/src/index.js#L16-L26) in my exa

[2018-07-24 21:55] alidcastano commented on #66
So to confirm, adding headTag works?

[2018-07-25 00:38] AlejandroMataGuillen commented on #64
I don't know to be honest, but defitinely would be great to have another alternative to do ssr with create react app or maybe integrate with a current project with a differente structure

[2018-07-25 03:13] muhrusdi commented on #66
yes its work, the file css is loaded in prod , undfined in dev. but why this way does not work `const rogue = new Rogue(App, { headTags: [`${css}`], bundleUrl: bundleUrl})`

[2018-07-25 03:25] alidcastano opened #68 "expose way of adding head/script tags in Druid class"
related to #66

[2018-07-26 05:15] alidcastano commented on #64
I think the with-spectrum does server-rendering and they use create-react-app: https://github.com/withspectrum/spectrum/

maybe they have some advice to give on this? cc @brianlovin @mxstbr or @uberbryn

[2018-07-26 06:14] #68 closed

[2018-07-26 06:14] #65 closed

[2018-07-26 06:16] alidcastano commented on #28
eslint isn't option anymore since Rogue now uses typescript, anyone interested in this please up new issue for tslint

[2018-07-26 06:16] #28 closed

[2018-07-26 15:49] brianlovin commented on #64
@mxstbr could weigh in most tactfully here, but https://github.com/withspectrum/spectrum/tree/alpha/hyperion is our SSR worker if you want to poke around :)

[2018-07-26 18:13] alidcastano commented on #67
@corydeppen looking into this now but btw just realized the after.js example (https://github.com/jaredpalmer/razzle/blob/master/examples/with-afterjs/src/client.js#L17) also includes the line @stevefan1999 mentioned, so that's likely the issue

[2018-07-26 18:36] alidcastano commented on #67
@corydeppen I forked your example and can confirm that added the above snippet + upgrading to 0.7.0 fixes the problem (at least on my side)

Also updated with-razzle example so others don't run into this issue

[2018-07-26 18:36] #67 closed

[2018-07-27 06:19] muhrusdi opened #69 "React router dom: "Browser history needs a DOM", in production."
i tried react-router-dom in my rouges app, react-router work in development but i get an error in production.
`{
  "status": 500,
  "message": "Browser history needs a DOM",
  "name": "Invariant Violation"
}`

[2018-07-27 13:31] alidcastano opened #70 "consider support for Vue.js"
Just realized it be simple to add support for vuejs while keeping same "nearly invisible" philosophy

Would just need to keep react hoc seperate from vue plugins - and add support for vue-graphql

https://ssr.vuejs.org/guide/routing.html#routing-with-vue-router

[2018-07-27 13:34] alidcastano opened #71 "Add more tests"
Before doing #70 I'd like to add more test for existing functionality

[2018-07-27 14:50] alidcastano commented on #70
Hmm upon thinkin about it Wed need custom renderRoute, middleware. and toHtml methods, and some way to dynamically include them with druid app.

So likely ejs templates or would need to refactor code so druid has a base that can be extended for react and vue specific code

[2018-07-27 16:20] alidcastano commented on #70
also need to consider that having a separate cli might not be best idea since both react and vue have great clis, they just lack SSR support -

best move is to not stray away from respective ecosystems, but find a way to integrate it all

here's an example of doing it with Vue cli https://github.com/eddyerburgh/vue-cli-ssr-example/blob/master/vue.config.js

related to #64 for create-react-app

[2018-07-27 16:46] alidcastano commented on #70
also keeping in mind that ream (https://github.com/ream/ream) exists for Vue devs too but Rogue can be used independent of any build tool, so as said above, id be cool to see it with create-a-{framework}-app

[2018-07-27 17:42] alidcastano commented on #64
Hey @brianlovin, thanks for the link! I'll take a look when I get a chance

Are you guys finding the experience pleasant? Any pain-points people should know about? (i.e. After using create-react-app for this, would you recommend it or point people towards other solutions like Razzle)

[2018-07-28 01:54] antonybudianto commented on #64
Hi,

I created https://github.com/antonybudianto/cra-universal, it's a zero config and no eject for create-react-app.

[2018-07-28 18:53] alidcastano commented on #69
sorry going to deploy an app soon to look into this

can you also post snippets below of your Rogue setup just in case its specific to that

[2018-07-29 02:17] muhrusdi commented on #69
App.jsx
[code]

client.js
[code]

index.js
[code]

server.js
[code]

[2018-08-02 04:35] alidcastano commented on #69
You shouldn't need to wrap your app in a `BrowserRouter`/`Router`. Rogue does this for you, in client it does `BrowserRouter` and in server it does `StaticRouter`. But gonna try to deploy an app now in case its not that

[2018-08-02 04:52] alidcastano commented on #69
yea, i was able to deploy an app with zeit's now with a similar setup as above, so that's defintely the issue

closing this, and sorry for delay there!

[2018-08-02 04:52] #69 closed

[2018-08-09 10:56] Kanuny opened #72 "Update npm version of rogue-cli"
Right now npm version of rogue-cli is outdated and not compatible with rogue-app.

[2018-08-10 22:34] alidcastano commented on #72
upgraded it. v0.6.13 contains your latest PRs

[2018-08-10 22:34] #72 closed

[2018-09-29 10:30] IniZio opened #76 "Rogue community?"
This library really excels in routing compared to other SSR solutions, and I think it deserves more attention such as a public chatroom or promotion posts, any thoughts?

[2018-09-29 15:52] alidcastano commented on #76
Hey IniZio, thanks for taking interest in the project.

I do believe the Rogue App is the most elegant solution to building ssr apps in React. It takes advantage of existing community tools (React Router, React Helmet) an lets you compose your app however you like. Best part, since Rogue is just a tiny wrapper gluing the best ssr tools for React, there's less surface area for bugs/issue, and as su

[2018-09-29 18:30] alidcastano commented on #70
this isn't a priority right now anyway, and no one expressed interest, so going to close this

[2018-09-29 18:30] #70 closed

[2018-12-09 18:04] #76 closed

[2018-12-09 18:08] alidcastano commented on #64
was looking into this yesterday but it doesn't seem like create-react-app would be an ideal solution

looking at spectrum's setup (mentioned above), they use two different build setups for this (create-react-app and backpack) and while it seems to work for them (I wonder if they experience any problems with hmr, or do they just run SPA mode in dev?), I would be hesitant to start a project with it

[2018-12-09 18:08] #64 closed

[2018-12-09 18:55] mxstbr commented on #64
This is what I do!

[2018-12-21 09:23] Kanuny opened #77 "rogue-cli support plans"
Hi. I didn't follow roguejs project couple of months until today. And today I found that there is no rogue-cli anymore :(. Is there any plans to bring it back in future? And what was the reason of removing it?

[2018-12-21 20:40] alidcastano commented on #77
the original reason for creating rouge cli was to have the dev/build experience run on parcel rather than webpack, but I ran into some issues a few months back when attempting it and just never ended up having time to go back to it, so I figured it was better to deprecate it than to half-ass it or leave it unfinished

plus, solutions like razzle are already production ready and easy to setup.

a s

[2018-12-23 16:34] alidcastano opened #78 "add support for react-native-web"

[2018-12-23 16:45] alidcastano commented on #45
`ctx.app.markupRenderes` will be deprecated, so this isn't necessary anymore

[2018-12-23 16:45] #45 closed

[2018-12-28 20:30] alidcastano commented on #77
good news, i ran into some issues with webpack and gave parcel another try

roguejs/cli is back up and running :) this time it looks to finally running smoothly (had several issues before with Parcel and ssr). will make release later today

[2018-12-28 20:30] #77 closed

[2018-12-28 20:50] alidcastano commented on #78
looks like the above is actually a separate issue, and the issue is we were importing `react-native-web` rather than `react-native` which I'm guessing result in two different runtimes

but when we import `react-native`, it causes an error likely becuase the babl plugin doesnt work with transpiled files
[code]

[2019-01-03 23:42] mschipperheyn opened #79 "Using REST"
I've read most of the issues here and understand that Rest is possible but requires you to pass data to specific pages possibly using namespacing to facilitate. Any chance for an example on this?

I'm on a project that is on rest but migrating to graphql. It would be nice to understand how to apply either rest or graphql.

[2019-01-04 00:06] alidcastano commented on #79
a lot of what I've written in issues might not be relevant since the API has changed a bit (i.e. we used to walk the tree and call initial props on pages but now it's just done in the root component)

I'd recommend apollo-link-rest https://www.apollographql.com/docs/link/links/rest.html

[2019-01-05 17:17] alidcastano opened #80 "parcel issues"
builds gives memory leak warnings: https://github.com/parcel-bundler/parcel/issues/2277
random infinite loops in HMR https://github.com/parcel-bundler/parcel/issues/1317
autoinstall causes problems - i.e. tries to install wrong react version, resolutions don't fix this
symlinks/workspaces don't always work as expected

i'm sure im forgetting some things i've run into last few days... hoping that v

[2019-01-23 13:11] v1rtl opened #81 "Warnings about wrong versions"
I ran this to install Rogue:

[code]

But I already had some deps, such as `react`, `react-dom` and `express`.
And during installing I got lots of messages about wrong versions / invalid engines.

## My package.json before installation of Rouge:
[code]
## It seems that conflicts shouldn't appear. By the way in my terminal weird things happen:
[code]
I think some libraries used in Rogue are depreca

[2019-01-23 15:29] alidcast commented on #81
yea just took a look, some dependencies are unused and should be removed - sorry about that.

also, rogue/cli is still early. make sure you're aware of #80 (hopefully parcel v2 will improve things).

[2019-01-23 20:08] v1rtl commented on #81
@alidcastano use yarn-check or npm-check CLI tool to automatically look up for obsolete dependencies so such issues won't popup anymore here. Also, why does your app need `react-native` inside browser? It is used for mobile devices or am I wrong?

Yarn check: https://www.npmjs.com/package/yarn-check

NPM Check: https://www.npmjs.com/package/npm-check

[2019-01-24 17:28] queer opened #82 "Server-generated bundle script tag is wrong when the initial URL is not the root page"
**Versions:**
- `@roguejs/app @ 0.9.6`
- `@roguejs/cli @ 0.9.8`

**Expected result:** The generated bundle URL is always the absolute path `/bundle.js`.

**Actual result:** The generated bundle URL is relative to the current URL.

**Description of the problem:**

This is symptomatically-similar #61, but it's not quite the same thing, as I'm not using razzle.

The server-generated script tag to loa

[2019-01-25 18:52] alidcast commented on #82
at the moment I would refrain from using @roguejs/cli. parcel has several issues #80 so I'm waiting till v2 before considering spending more time on it, since at its current state it's unusable for app im currently working on

[2019-03-30 10:07] EirikFA opened #83 "Preact"
Is it possible to make Rogue work with Preact instead of React? I attempted to install it as a dependency and add aliases to `preact-compat`. Nonetheless, I receive errors that `react` cannot be found.

Using `preact-router` as a replacement would also be great if possible.